section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  div ul li {
    list-style: none;
  }
  section {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    border-style: none;
    button {
      background-color: green;
      border-color: none;
      border-style: none;
      margin: 10px;
      padding: 10px;
      color: white;
      font-weight: bold;
      border-radius: 10px;
    }
  }
}

//generales
.listadoOriginal {
  color: black;
  font-size: 20px;
}

.mayorQue {
  display: flex;
  color: blue;
  font-size: 22px;
}

.menorQue {
  display: flex;
  color: red;
  font-size: 22px;
}
